<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.developerassessmentsmaster.repository.DeveloperMapper">

    <resultMap id="DeveloperResultMap" type="com.example.developerassessmentsmaster.model.Developer">
        <id column="id" property="id" />
        <result column="github_id" property="githubId" />
        <result column="github_username" property="githubUsername" />
        <result column="country" property="country" />
        <result column="talent_rank" property="talentRank" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="bio" property="bio" />
        <result column="following" property="following" />
        <result column="followers" property="followers" />
    </resultMap>

    <!-- 查询所有开发者 -->
    <select id="findAllDevelopers" resultMap="DeveloperResultMap">
        SELECT * FROM developers;
    </select>

    <insert id="insertDeveloper" parameterType="com.example.developerassessmentsmaster.model.Developer">
        INSERT INTO developers (github_id, github_username, country, talent_rank, created_at, updated_at, bio, following, followers)
        VALUES (#{githubId}, #{githubUsername}, #{country}, #{talentRank}, #{createdAt}, #{updatedAt}, #{bio}, #{following}, #{followers})
    </insert>

    <update id="updateDeveloperByGithubId" parameterType="com.example.developerassessmentsmaster.model.Developer">
        UPDATE developers
        SET talent_rank = #{talentRank}, updated_at = CURRENT_TIMESTAMP , score = #{score}
        WHERE github_id = #{githubId}
    </update>

    <select id="getDeveloperByGithubId" resultMap="DeveloperResultMap" parameterType="long">
        SELECT * FROM developers WHERE github_id = #{githubId}
    </select>

    <select id="getRandomDevelopers" resultMap="DeveloperResultMap">
        SELECT github_id,github_username, talent_rank, bio, country
        FROM developers
        ORDER BY RAND()
        LIMIT 10
    </select>

    <!-- 获取开发者最常见标签 -->
    <select id="getMostCommonTagByDeveloper" resultType="com.example.developerassessmentsmaster.model.LanguageCount">
        SELECT github_id, language, COUNT(*) AS tag_count
        FROM projects
        WHERE github_id = #{githubId}
        GROUP BY github_id, language
        ORDER BY tag_count DESC
        LIMIT 1
    </select>

    <!-- 根据 github_username 和国家查询开发者 -->
    <select id="findDevelopersByGithubUsernameAndCountry" resultMap="DeveloperResultMap">
        SELECT * FROM developers
        WHERE github_username LIKE CONCAT('%', #{githubUsername}, '%')
          AND country = #{country}
    </select>

    <select id="findDevelopersByGithubUsernameLanguageAndCountry" resultMap="DeveloperResultMap">
        SELECT * FROM developers
        WHERE 1=1
        <if test="githubUsername != null and githubUsername != ''">
            AND github_username LIKE CONCAT('%', #{githubUsername}, '%')
        </if>
        <if test="country != null and country != ''">
            AND country = #{country}
        </if>
        <if test="language != null and language != ''">
            AND github_id IN (
            SELECT github_id
            FROM projects
            WHERE language = #{language}
            )
        </if>
    </select>


    <select id="findDevelopersByUsernameAndCountry" resultMap="DeveloperResultMap">
        SELECT * FROM developers
        WHERE 1=1
        <if test="githubUsername != null and githubUsername != ''">
            AND github_username LIKE CONCAT('%', #{githubUsername}, '%')
        </if>
        <if test="country != null and country != ''">
            AND country = #{country}
        </if>
    </select>

    <select id="getTopThreeLanguagesByDeveloper" resultType="String">
        SELECT language, COUNT(*) AS language_count
        FROM projects
        WHERE github_id = #{githubId}
        GROUP BY language
        ORDER BY language_count DESC
        LIMIT 3
    </select>






</mapper>
