<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.developerassessmentsmaster.repository.DeveloperMapper">

    <resultMap id="DeveloperResultMap" type="com.example.developerassessmentsmaster.model.Developer">
        <id column="id" property="id" />
        <result column="github_id" property="githubId" />
        <result column="github_username" property="githubUsername" />
        <result column="country" property="country" />
        <result column="talent_rank" property="talentRank" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="bio" property="bio" />
        <result column="following" property="following" />
        <result column="followers" property="followers" />
    </resultMap>

    <insert id="insertDeveloper" parameterType="com.example.developerassessmentsmaster.model.Developer">
        INSERT INTO developers (github_id, github_username, country, talent_rank, created_at, updated_at, bio, following, followers)
        VALUES (#{githubId}, #{githubUsername}, #{country}, #{talentRank}, #{createdAt}, #{updatedAt}, #{bio}, #{following}, #{followers})
    </insert>

</mapper>
