<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.developerassessmentsmaster.repository.DeveloperMapper">

    <resultMap id="DeveloperResultMap" type="com.example.developerassessmentsmaster.model.Developer">
        <id column="id" property="id" />
        <result column="github_id" property="githubId" />
        <result column="github_username" property="githubUsername" />
        <result column="country" property="country" /> <!-- 更新国家字段 -->
        <result column="talent_rank" property="talentRank" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <insert id="insertDeveloper" parameterType="com.example.developerassessmentsmaster.model.Developer">
        INSERT INTO developers (github_id, github_username, country, talent_rank, created_at, updated_at)
        VALUES (#{githubId}, #{githubUsername}, #{country}, #{talentRank}, #{createdAt}, #{updatedAt})
    </insert>

    <select id="getAllDevelopers" resultMap="DeveloperResultMap">
        SELECT * FROM developers
    </select>

    <select id="getDeveloperById" parameterType="int" resultMap="DeveloperResultMap">
        SELECT * FROM developers WHERE id = #{id}
    </select>

</mapper>
